<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>

 <h1>Team Name: <%= @value[:name]%></h1>
 <h2>Coach: <%= @value[:coach]%><h2>
  <h2>Point Guard: <%= @value[:pg]%><h2>
 <h2>Shooting Guard: <%= @value[:sg]%><h2>
 <h2>Power Forward: <%= @value[:pf]%><h2>
 <h2>Small Forward: <%= @value[:sf]%><h2>
 <h2>Center: <%= @value[:c]%><h2>

 </head>
 <body>
 


 </body>
</html>


